body{
	padding:0;
	margin:0;
	background-image:url('../img/background.jpg');
}

.top_img2{
	margin-left:30%;
	height:120px;
}
.top_img3{
	margin-left:5%;
	height:100px;
}
ul.navTop li{
	list-style-type: none;
	display: inline-block;
	margin-left:55px;
	margin-top:5px;
}
ul.navTop li a {
	font-size:20px;
	padding:7px 25px;
	border: 2px solid #ffad33;
	border-radius:8px;
	color:white;
    background-color: #661500;
    text-decoration: none;
}
ul.navTop li a:hover{
	color: #ff3300;
}
#left_nav{
	float: left;
	width:215px;
}
.nav_static{
	position: static;
}
.nav_fixed{
	position: fixed;
	top: 0px;
}
#left_nav ul{
	padding: 0px;
}
#left_nav li{
	text-align: center;
	list-style-type: none;
	font-weight: bold;
}
.sub_categiry {
    margin-left: 10px;
}


li.treeItem button{
 	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;

}
li.treeItem button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
li.treeItem button:active {
	position:relative;
	top:1px;
}

#section{
	float: left;
    background-color: #ffffcc;
	width:82%;
	padding-left:5px;
    margin-left: 2%;
}
#itemsContainer button {
	font-weight:bold;
    margin-left: 55px;
	padding:5px 10px;
	text-decoration: none;
	background-color:#8f6000;
	border:2px solid #661500;
	border-radius: 8px;
	bottom:5px;
}
#itemsContainer button:hover{
	color:white;
    cursor: pointer;
}
#advertising > img{
	width:100%;
}
.advertising_pr{
	
	width:99%;
	height:250px;
}

.example_pr{
	float: left;
	border:1px solid #ff8c19;
	width:215px;
	height:490px;
}
.example_pr h4{
    padding: 0;
    margin: 0;
    width: 50%;
    float: left;
	
}
.example_pr label {
    width: 50%;
    float: right;
    font-size: 17px;
    
}
.order_buttom{
	position:absolute;
	color:#661500;
	font-size:20px;
	font-weight:bold;
	margin:0 75px;
	padding:5px 10px;
	text-decoration: none;
	background-color:#8f6000;
	border:2px solid #661500;
	border-radius: 8px;
	bottom:5px;
}
.order_buttom:hover{
	color:#cc0000;
}
.img_product{
	margin-left:20px;
	height:300px;
}

.description{
	overflow-y: scroll;
    height: 100px;
}
#div_none{
	display:none;
	height:747px; 
	float:left;
	width:200px;
}
#advertising{
	float:right;
	width:15%;
}
#footer{
	
	background-image:url("../img/woodPanelBackground.jpg");
	width:99.7%;
	float:left;
}
.phone_img{
	padding:20px;
	float:left;
	width:50px;
}
.phone_img ~div{
	
	float:left;
	padding:20px 80px;
	font-size:20px;
	color:white;
}
.bottom_img{
	margin:0px;
	padding:0px;
	float:right;
	height:100px;
}
.back_to_home{
	float:left;
	width:70px;
}
.order_form fieldset{
	background-color:#aeae00;
	margin:0 auto;
	width:500px;
}
.order_form h2{
	font-weight:bold;
	font-size:30px;
	font-style:italic;
	color:#800000;
	text-align:center;
}
.order_form label{
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	color:#800000;
}
.form_text{
	width:80%;
	height:25px;
	font-size:20px;
}
