body{
	padding:0;
	margin:0;
	background-image:url('../img/background.jpg');
}

#nav{
	width:100%;
    
}

#header{
	display: inline-block;
}
#header img{
	height:150px;
}
.top_img1{
	margin-right:100px;
}
ul{
    
	list-style-type: none;

}
ul.navTop li{
	font-size:20px;
    background-color: #661500;
	margin-left:40px;
	padding:7px 50px;
	border-radius:8px;
	border: 2px solid #ffad33;
	width:60px;
	display: inline;
	
}
ul.navTop li a {
	color:white;
    background-color: #661500;
    text-decoration: none;
}
ul.navTop li a:hover{
	color: #ff3300;
}


#section{
    background-color: #ffc249;
	float:left;
	width:83%;
	
}
.container{
	width:100%;
}
#advertising{
	float:right;
	width:16%;

}
#advertising > img{
	width:100%;
}
.advertising_pr{
	border: 2px solid green;
	width:99%;
	height:250px;
}
.example_pr{
	margin:3px 7px;
	display: inline-block;
	border:1px solid #ff8c19;
	width:15%;
	min-width:100px;
	height:490px;
}
.example_pr h4{
    padding: 0;
    margin: 0;
    width: 50%;
    float: left;
	
}
.example_pr label {
    width: 50%;
    float: right;
    font-size: 13px;
    vertical-align: central;
}
.order_buttom{
	color:#661500;
	font-size:20px;
	font-weight:bold;
	margin:0 50px;
	padding:5px 10px;
	text-decoration: none;
	background-color:#8f6000;
	border:2px solid #661500;
	border-radius: 8px;
	bottom:0;
}
.img_product{
	border:1px solid #ff8c19;
	width:100%;
}
.img_pr {
    height: 365px;
}
.description{
	border:1px solid #ff8c19;
	overflow-y: scroll;
    min-height: 50px
}
#footer{
	margin-top:20px;
	background-color:#661500;
	width:99.7%;
	float:left;
}
.phone_img{
	padding:20px;
	float:left;
	width:50px;
}
.phone_img ~div{
	
	float:left;
	padding:20px 80px;
	font-size:20px;
	color:white;
}
.bottom_img{
	margin:0px;
	padding:0px;
	float:right;
	height:100px;
}
.back_to_home{
	float:left;
	width:70px;
}
.order_form fieldset{
	background-color:#aeae00;
	margin:0 auto;
	width:500px;
}
.order_form h2{
	font-weight:bold;
	font-size:30px;
	font-style:italic;
	color:#800000;
	text-align:center;
}
.order_form label{
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	color:#800000;
}
.form_text{
	width:80%;
	height:25px;
	font-size:20px;
}

