@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles.css">
</head>
<body style="background-image: none">
<div>
	<form class="log_in" action="/Account/SubmitLogin" method="POST">

        <fieldset>
            
            <label class="_label">
                @Helper.Translation("label", "email")
            </label>
            <input class="_input" name="Email" type="email" />
            <br />
           <label class="_label">
                  @Helper.Translation("label", "password")</label>
             <input class="_input" name="Password" type="password" />
            <br />
            <input class="order_buttom" type="submit" value="Log in">
        </fieldset>
</form>
</div>
</body>
</html>