@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
	<form action="/Account/SubmitLogin" method="POST">

		<fieldset>
			<input name="Email" type="email"/>
			<input name="Password" type="password"/>
			<input type="submit">
		</fieldset>
</form>
</div>
</body>
</html>