@model Shop.Models.AccountViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form action="Login" method="POST">
        <input type="email"/>
        <input type="password"/>
        <input type="submit">
        </form>
</div>
</body>
</html>