@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
	<title>title</title>
</head>
<body>
<div>
	<h2></h2>
	<form action="/ManageItems/SubmitAdd" method="POST" enctype="multipart/form-data">
		<fieldset>
			<label>Name:</label><br>
			<input type="text" required name="Name">
			<br>
			<label>Description:</label><br>
			<input type="text" name="Description">
			<br>
			<label>Image:</label><br>
			<input type="file" name="imgFile">
			<br>
			<label>Price:</label><br>
			<input type="number" required name="Price">
			<br>
			<br><br>
			<input style="horiz-align: center" type="submit" value="Add">
		</fieldset>
	</form>
</div>
</body>
</html>