

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body class="manage_items_body">
    <div>

        <a class="manage" href="/ManageItems">Manage Items</a><br/>
        <a class="manage" href="/ManageOrders">Manage Orders</a>
    </div>
</body>
</html>