

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>

	<a href="/ManageItems">Manage Items</a>
	<a href="/ManageOrders">Manage Orders</a>
</div>
</body>
</html>