@model Shop.Models.UnitPropertyModel

<div id="@string.Format("PropertyFilter_{0}", @Model.Name)" class="propertyFilter">
    <span>@Model.Name</span>
    <span>: </span>
    <input type="text"/>
</div>


